* {
    background-color: #143543;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title,
.time,
.placeholder_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 4rem;
    margin: 20px 0;
}

.container h1,
.time,
.list {
    color: #fff;    
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.8rem;
    align-items: center;
    list-style: none;
    padding: 0;
}

.todo_information {
    overflow-y: scroll;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo_information li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.56);
    gap: 15px;
    height: 50px;
    border-radius: 50px;
    width: 400px;
    padding: 0 15px;
}

.todo_information li p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    background: none;
    color: #fff;
}

.input_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
}

button:hover {
    filter: invert(1);
}

.Gotthis {
    height: 45px;
    width: 100px;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1rem;
    margin-left: -10px;
}

.placeholder_bar {
    width: 500px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.56);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
}

button.check_button,
button.trash_button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button.check_button:hover,
button.trash_button:hover {
    filter: invert(1);
}

.completed {
    text-decoration: line-through;
    color: #aaaaaa;
}
